{% extends "base.html" %}

{% block title %}Промокоды{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Промокоды</h1>

    <a href="{{ url_for('add_promocode') }}" class="btn btn-primary mb-3">Добавить промокод</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Промокод</th>
                <th>Процент</th>
                <th>Кол-во использований</th>
                <th>Дата окончания</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for promo_code in promo_codes %}
            <tr>
                <td>{{ promo_code.id }}</td>
                <td>{{ promo_code.name }}</td>
                <td>{{ promo_code.percent }}</td>
                <td>{{ promo_code.count }}</td>
                <td>{{ promo_code.end_date if promo_code.end_date is not none else 'не ограничено' }}</td>
                <td>
                    <a href="{{ url_for('edit_promocode', id=promo_code.id) }}" class="btn btn-warning">Изменить</a>
                    <form action="{{ url_for('delete_promocode', id=promo_code.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
